@{
    Script.Include("http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f1ed1d84d0e6b52");
}
<noindex>
    <div class="addthis_toolbox addthis_default_style" addthis:url="@(Model)">
        <a rel="nofollow" class="addthis_button_google_plusone" g:plusone:size="medium"></a> 
        <a rel="nofollow" class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:locale="en_US" width="500px"></a>
        <a rel="nofollow" class="addthis_button_tweet"></a>
        <a rel="nofollow" class="addthis_counter addthis_pill_style"></a>
    </div>
</noindex>