@{
    Script.Include("//yandex.st/share/share.js");
}
<div data-yashareLink="@(Model)" class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="vkontakte,facebook,twitter,gplus"></div> 
